.sidebar{
    height: 100%;
    width: 240px;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightblue;
    overflow-x: hidden;
    padding-top: 20px;
    font-size: 18;
    font-family: cursive; /* I love Comic Sans MS*/
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: blue;
    display: block;
}

.sidebar a:hover {
    color: brown;
}

body {
    background: lightyellow;
    text-align: center;
    padding-top: 20px;
}

.header {
    padding-bottom: 15px;
    font-family:Times;
    text-align: center;
}
